aiohttp
chromadb==0.4.14
streamlit
langchain-groq
google.generativeai
langchain
pydantic
python-dotenv
pypdfium2 
python-docx
langchain-google-genai
duckduckgo-search
crewai==0.86.0
crewai-tools==0.25.8
